resources/nude_woman.png
sdl3/
resources/woman.png
resources/test.gif
resources/magic_projectile.gif
.gitignore
dnd_tools.py
resources/fire_explosion.zip
resources/fire_explosion/10545828.psd
resources/fire_explosion/10545825.png
core_dnd/__pycache__/
core_table/compendiums/*
!core_table/compendiums/*loader.py
!core_table/compendiums/spell_loader.py
*__pycache__/
__pycache__/
resources/
res/
