resources/nude_woman.png
sdl3/bin/SDL3.dll
sdl3/bin/SDL3_ttf.dll
sdl3/bin/SDL3_rtf.dll
sdl3/bin/SDL3_net.dll
sdl3/bin/SDL3_mixer.dll
sdl3/bin/SDL3_image.dll
sdl3/bin/metadata.json
sdl3/__pycache__/SDL.cpython-310.pyc
sdl3/__pycache__/SDL_vulkan.cpython-310.pyc
sdl3/__pycache__/SDL_video.cpython-310.pyc
sdl3/__pycache__/SDL_version.cpython-310.pyc
sdl3/__pycache__/SDL_ttf.cpython-310.pyc
sdl3/__pycache__/SDL_tray.cpython-310.pyc
sdl3/__pycache__/SDL_touch.cpython-310.pyc
sdl3/__pycache__/SDL_timer.cpython-310.pyc
sdl3/__pycache__/SDL_time.cpython-310.pyc
sdl3/__pycache__/SDL_thread.cpython-310.pyc
sdl3/__pycache__/SDL_textengine.cpython-310.pyc
sdl3/__pycache__/SDL_system.cpython-310.pyc
sdl3/__pycache__/SDL_surface.cpython-310.pyc
sdl3/__pycache__/SDL_storage.cpython-310.pyc
sdl3/__pycache__/SDL_stdinc.cpython-310.pyc
sdl3/__pycache__/SDL_shadercross.cpython-310.pyc
sdl3/__pycache__/SDL_sensor.cpython-310.pyc
sdl3/__pycache__/SDL_scancode.cpython-310.pyc
sdl3/__pycache__/SDL_rtf.cpython-310.pyc
sdl3/__pycache__/SDL_render.cpython-310.pyc
sdl3/__pycache__/SDL_rect.cpython-310.pyc
sdl3/__pycache__/SDL_properties.cpython-310.pyc
sdl3/__pycache__/SDL_process.cpython-310.pyc
sdl3/__pycache__/SDL_power.cpython-310.pyc
sdl3/__pycache__/SDL_platform.cpython-310.pyc
sdl3/__pycache__/SDL_pixels.cpython-310.pyc
sdl3/__pycache__/SDL_pen.cpython-310.pyc
sdl3/__pycache__/SDL_net.cpython-310.pyc
sdl3/__pycache__/SDL_mutex.cpython-310.pyc
sdl3/__pycache__/SDL_mouse.cpython-310.pyc
sdl3/__pycache__/SDL_mixer.cpython-310.pyc
sdl3/__pycache__/SDL_misc.cpython-310.pyc
sdl3/__pycache__/SDL_metal.cpython-310.pyc
sdl3/__pycache__/SDL_messagebox.cpython-310.pyc
sdl3/__pycache__/SDL_main.cpython-310.pyc
sdl3/__pycache__/SDL_main_impl.cpython-310.pyc
sdl3/__pycache__/SDL_log.cpython-310.pyc
sdl3/__pycache__/SDL_locale.cpython-310.pyc
sdl3/__pycache__/SDL_loadso.cpython-310.pyc
sdl3/__pycache__/SDL_keycode.cpython-310.pyc
sdl3/__pycache__/SDL_keyboard.cpython-310.pyc
sdl3/__pycache__/SDL_joystick.cpython-310.pyc
sdl3/__pycache__/SDL_iostream.cpython-310.pyc
sdl3/__pycache__/SDL_init.cpython-310.pyc
sdl3/__pycache__/SDL_image.cpython-310.pyc
sdl3/__pycache__/SDL_hints.cpython-310.pyc
sdl3/__pycache__/SDL_hidapi.cpython-310.pyc
sdl3/__pycache__/SDL_haptic.cpython-310.pyc
sdl3/__pycache__/SDL_guid.cpython-310.pyc
sdl3/__pycache__/SDL_gpu.cpython-310.pyc
sdl3/__pycache__/SDL_gamepad.cpython-310.pyc
sdl3/__pycache__/SDL_filesystem.cpython-310.pyc
sdl3/__pycache__/SDL_events.cpython-310.pyc
sdl3/__pycache__/SDL_error.cpython-310.pyc
sdl3/__pycache__/SDL_endian.cpython-310.pyc
sdl3/__pycache__/SDL_dialog.cpython-310.pyc
sdl3/__pycache__/SDL_cpuinfo.cpython-310.pyc
sdl3/__pycache__/SDL_clipboard.cpython-310.pyc
sdl3/__pycache__/SDL_camera.cpython-310.pyc
sdl3/__pycache__/SDL_blendmode.cpython-310.pyc
sdl3/__pycache__/SDL_bits.cpython-310.pyc
sdl3/__pycache__/SDL_audio.cpython-310.pyc
sdl3/__pycache__/SDL_atomic.cpython-310.pyc
sdl3/__pycache__/SDL_asyncio.cpython-310.pyc
sdl3/__pycache__/SDL_assert.cpython-310.pyc
sdl3/__pycache__/__init__.cpython-310.pyc
sdl3/__pycache__/__doc__.cpython-310.pyc
sdl3/SDL.py
sdl3/SDL_vulkan.py
sdl3/SDL_video.py
sdl3/SDL_version.py
sdl3/SDL_ttf.py
sdl3/SDL_tray.py
sdl3/SDL_touch.py
sdl3/SDL_timer.py
sdl3/SDL_time.py
sdl3/SDL_thread.py
sdl3/SDL_textengine.py
sdl3/SDL_system.py
sdl3/SDL_surface.py
sdl3/SDL_storage.py
sdl3/SDL_stdinc.py
sdl3/SDL_shadercross.py
sdl3/SDL_sensor.py
sdl3/SDL_scancode.py
sdl3/SDL_rtf.py
sdl3/SDL_render.py
sdl3/SDL_rect.py
sdl3/SDL_properties.py
sdl3/SDL_process.py
sdl3/SDL_power.py
sdl3/SDL_platform.py
sdl3/SDL_pixels.py
sdl3/SDL_pen.py
sdl3/SDL_net.py
sdl3/SDL_mutex.py
sdl3/SDL_mouse.py
sdl3/SDL_mixer.py
sdl3/SDL_misc.py
sdl3/SDL_metal.py
sdl3/SDL_messagebox.py
sdl3/SDL_main.py
sdl3/SDL_main_impl.py
sdl3/SDL_log.py
sdl3/SDL_locale.py
sdl3/SDL_loadso.py
sdl3/SDL_keycode.py
sdl3/SDL_keyboard.py
sdl3/SDL_joystick.py
sdl3/SDL_iostream.py
sdl3/SDL_init.py
sdl3/SDL_image.py
sdl3/SDL_hints.py
sdl3/SDL_hidapi.py
sdl3/SDL_haptic.py
sdl3/SDL_guid.py
sdl3/SDL_gpu.py
sdl3/SDL_gamepad.py
sdl3/SDL_filesystem.py
sdl3/SDL_events.py
sdl3/SDL_error.py
sdl3/SDL_endian.py
sdl3/SDL_dialog.py
sdl3/SDL_cpuinfo.py
sdl3/SDL_clipboard.py
sdl3/SDL_camera.py
sdl3/SDL_blendmode.py
sdl3/SDL_bits.py
sdl3/SDL_audio.py
sdl3/SDL_atomic.py
sdl3/SDL_asyncio.py
sdl3/SDL_assert.py
sdl3/__init__.py
sdl3/__doc__.py
dnd_tools.py
resources/woman.png
resources/test.gif
resources/magic_projectile.gif
.gitignore
.gitignore
resources/fire_explosion.zip
resources/fire_explosion/10545828.psd
resources/fire_explosion/10545825.png
core_dnd/__pycache__/entities.cpython-310.pyc
.gitignore
__pycache__/sprite.cpython-310.pyc
__pycache__/movement_sys.cpython-310.pyc
__pycache__/io_sys.cpython-310.pyc
__pycache__/event_sys.cpython-310.pyc
__pycache__/context.cpython-310.pyc
core_dnd/__pycache__/Character.cpython-310.pyc
__pycache__/sprite.cpython-310.pyc
__pycache__/io_sys.cpython-310.pyc
__pycache__/client_sdl.cpython-310.pyc
__pycache__/context.cpython-310.pyc
__pycache__/event_sys.cpython-310.pyc
__pycache__/context.cpython-310.pyc
