sdl3/
gitignore
dnd_tools.py
core_dnd/__pycache__/
core_table/compendiums/*
!core_table/compendiums/*loader.py
!core_table/compendiums/spell_loader.py
resources/
res/
COMPENDIUM_INTEGRATION_COMPLETE.md
profiling/
venv/
venv/*
.venv/*
trash/
pytest_cache/
docs/
server_host/doc
debug.log
imgui.ini
log
__pycache__/
gui/imgui_log.txt
core_table/dnd_item.py
server_host/.env
ttrpg_system.code-workspace
.gitignore

.vscode/launch.json
